!.gitignore
*.obj
*.res
*.pdb
*.tlog
*.log
*.pch
*.bak
*.dll
*.lib
*.TMP
*.enc
*.suo
*.ipch
/.vs
*.db
*.db-shm
*.db-wal
*.opendb
*.exp
*.ilk
*.lastbuildstate
*.map
*.unsuccessfulbuild
*.sdf
*.vcxproj.user
*.idb
*.manifest
*.cache
*_manifest.rc
*.sbr
*.bsc
*.inspxeproj
*.amplxeproj

_clang-format
*FileListAbsolute.txt
/hlsdk/dedicated_client/Debug/Bond.exe
/visual_c++_redistribs
/hlsdk/dedicated_client/.vs/Dedicated/FileContentIndex
/hlsdk/dedicated_client/Release
/msvc_compiler.zip
/nasm-2.16.01-installer-x86.exe
/hlsdk/utils/nightfire_bbsp/bbsp_fixes/.vs/bbsp_fixes
/hlsdk/utils/nightfire_bbsp/bbsp_fixes/bbsp_fixes/Debug
/hlsdk/utils/nightfire_bbsp/bbsp_fixes/bbsp_fixes/Release
/hlsdk/utils/nightfire_bbsp/bbsp_fixes/Debug
/hlsdk/utils/nightfire_bbsp/bbsp_fixes/Release
/hlsdk/utils/nightfire_bbsp/bbsp_fixes/bbsp_fixes/DebugEXE
/hlsdk/utils/nightfire_bbsp/bbsp_fixes/DebugEXE
