!.gitignore
*.obj
*.res
*.pdb
*.tlog
*.log
*.pch
*.bak
*.dll
*.lib
*.TMP
*.enc
*.suo
*.ipch
/.vs
*.db
*.db-shm
*.db-wal
*.opendb
*.exp
*.ilk
*.lastbuildstate
*.map
*.unsuccessfulbuild
*.sdf
*.vcxproj.user
*.idb
*.manifest
*.cache
*_manifest.rc
*.sbr
*.bsc
*.inspxeproj
*.amplxeproj

_clang-format
*FileListAbsolute.txt
